* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    /* background-color: lightgreen; */
}

.search-row {
    width: 100%;
}

.input-text {
    padding: 20px 30px;
    width: 100%;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    /* overflow: auto; */
}

.item {
    width: 100%;
    padding: 30px;
    margin: 5px 0px;
    background-color: #eae2b7;
}

.item-done {
    background-color: #fcbf49;
}

.p-class {
    pointer-events: none;
}

